/* Main Page Css File */

/* Google Fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

 body {
     height: 100vh;
     width: 100vw;
     background-image: url(../images/background.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Itim', cursive;
     overflow: hidden;
}

 #centerized-div {
     min-height: 100vh 
}

/* Main Menu Buttons styling */
 #main-button {
     margin-top: 30vh;
     width: 300px;
     height: 100px;
     font-size: xx-large;
}

/* Main Menu Game Name Header styling */
#main-menu-game-header{
    font-size: 10vh;
    margin-top: 30vh;
    font-weight: bolder;
    color: black;
    background-color: white;
}